#contentleft{
	background-color: #ccffff;
	width: 30%;
}
#contentright{
	width: 70%;
}
#form{
	margin-top: 5px;
}
#bloodTest{
	border-collapse: collapse;
}
#bloodTest ,td, th {
	border: 1px solid black;
}